*{
	padding:0px;
	margin: 0px;
}
body{
	font-size: 14px;
	line-height: 1.5;
	font-family: Arial;
	background-color: white;
}
.container{
	width: 1200px;
	margin: 0 auto;
}
li{
	list-style: none;
	float: left;
}
