*{
	padding: 0px;
	margin: 0px;
}
body{
	
	font-weight: 400;
	font-family: Arial;
	line-height: 1.5;
	font-size: 14px;
	color: #333;
}
.container{
	width: 1361px;
	margin: 0px auto;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
.section-1{
	padding-top: 34px;
	padding-bottom: 54px;
	width: 100%;
	background-color: #f4f6f8;
}
	.logo-1{
		width: 35%;
		float: left;
		padding-left: 85px;
	}
	.menu-1  {
		width: 50%;
		float: right;
		text-align: right;
		font-weight: bold;
		padding-right: 99px;
	}
	.menu-1 a{
		padding-left: 31px;
	}
	.menu-1 a:hover{
		color:#10c9c3;
	}
.section-2{
	width: 100%;
	background-color: #ffffff;
	color: #ffffff;
	text-align: center;
}
	.backgroung-menu{
		padding-top: 100px;
	}
	h2{
		font-size: 38px;
		padding-bottom: 25px;
	}
	.section-2 p{
		font-size: 18px;
	}
.section-3{
	
	 
}
.sec-3-1{
	width: 100%;
	background-color: #10c9c3;
	float: left;
	padding-bottom: 97px;
	padding-top: 97px;
	color: white;
	font-size: 12px;
}
	.sec-3-1 p{
		font-size: 18px;
	}
	.nhom1{
		float: left;
		width:25%;
		
	}
		.nhom1-1{
			float: left;
			padding-left: 75px;
			padding-right: 26px;
		}
	.nhom2{
		float: left;
		width: 25%;
	}
		.nhom2-1{
			float: left;
			padding-left: 45px;
			padding-right: 26px;
		}
	.nhom3{
		float: left;
		width: 20%;
	}
		.nhom3-1{
			float: left;
			padding-left: 25px;
			padding-right: 26px;
		}
	.nhom4{
		float: left;
		width: 25%;
		
	}
		.nhom4-1{
			float: left;
			padding-left: 55px;
			padding-right: 26px;
			}
.section-4{
	width: 100%;
	background-color: #ffffff;
	float: left;

}
	.sec-4-1{
			width: 55%;
			float: left;
			background-color: #f5f5f5;		
			}
			.sec-4-1-1{
				float: left;
				color: #e1e1e1;
				padding-right: 75px;
			}
	.sec-4-2{
		width: calc(45% - 20px);
		float:left;
		padding-top: 147px;	
		background-color: #f5f5f5;
		padding-left: 20px;
		padding-bottom: 135px;
		}
		.sec-4-2-1{
			
			font-size: 16px;
				}
		.sec-4-2 h4{
			font-size: 30px;
			
			}
		.chu-ky{
			padding-top: 44px;
			}			
.section-5{

	background-color: red;
	width: 100%;
	text-align: center;
}
	.sec-5-1{
		width: 100%;
		float: left;
		font-size: 16px;
	}
		.sec-5-1 h3{
			padding-top: 106px;
			font-size: 30px;
			padding-bottom: 43px;
		}
	.sec-5-2{
		padding-top:43px; 
		float: left;
		width: 100%;
		padding-bottom: 106px;
	}
		.sec-5-2 button{
			font-size: 16px;
			width: 178px;
			height: 57px;
			background-color: #10c9c3;
		}
		.sec-5-2 a{
			color: #ffffff;
			font-weight: bold;
		}
.section-6{
	width: 100%;
	background-color: #141414;
	color: #ffffff;
	font-size: 15px;
	float: left;
	padding-top: 97px;
	padding-bottom: 97px;
}
.section-6 a{
	color: #9b9b9b;
}
	.sec-6-1{
		float: left;
		width: 35%;
		padding-left: 85px;
	}
	.sec-6-1 h4{
		padding-bottom: 29px;
	}
	.sec-6-2{
		float: left;
		color: #9b9b9b;
		width: 20%;
	}
	.sec-6-3{
		float: left;
		width: 10%;
	}
		
	.sec-6-4{
		float: left;
		width: 10%;
	}
	.sec-6-5{
		float: left;
		width:10% ;
		padding-right: 50px;
	}
		.sec-6-5 li{
			float: right;
			width: 100%;
			text-align: right;
		}
	