*{
	margin: 0;
	padding: 0;
}
body{
	background: #f4f6f8;
	font-family: 'Merriweather', serif;
}
li{
	list-style-type: none;
}
a{
	text-decoration: none;
}
/*CSS Section_1*/
.section_1{
	background: #ffffff;
	border-bottom: 2px solid #f4f6f8;
	padding: 20px 0;
}
.right li a{
	color: #34404b;
	font-size: 14px;
}
.color_xam{
	color: #34404b;
}
.color_cam{
	color: #ff5912;
}
/*CSS Section_2*/
.section_2{
	background: #ffffff;
	padding: 40px 0;
}
.container_2 .col-lg-8 a{
	font-size: 16px;
	font-weight: 500;
}
.container_2 .col-lg-2 a{
	font-size: 16px;
}
/*CSS Section_3*/
.section_3{
	padding: 20px 0 50px 0;
}
.ico_user{
	color: #b8b9ba;
	font-size: 120px;
	padding: 50px 0;
}
.dieu-kien{
	padding: 25px 0 30px 0;
}
.dang-ky{
	padding: 22px 50px;
	background: linear-gradient(to right,#3d45a5,#2c8bca);
	color: #ffffff;
}
.return-dangnhap{
	padding: 10px 0;
	color: #344b91;
	font-size: 
}
/*CSS Section_4*/
.section_4{
	padding: 80px 0;
}
.color_xam-2{
	color: #28313b;
}
.container_4 .col-lg-6 li a{
	color: #28313b;
}
.container_4 .left_sec4 li a{
	color: #28313b;
}