*{
	padding: 0px;
	margin: 0px;
}
body{
	font-size: 18px;
	font-family: Arial;
	font-weight: 1.5;
	line-height: 1.5;
	background-color: #f4f6f8;
}
.container{
	width: 1400px;
	margin: 0 auto;
}
.space{
	width: 362px;
	height: 103px;
	
}
.dang-ky{
	background: linear-gradient(to right,#3d45a5,#2c8bca);
	color: white;
}
.section-1{
	background-color: #ffffff;
}
.section-2{
	background-color: #ffffff;
	border-top: 1px solid #f4f6f8;
}
.section-3{
	background-color: #f4f6f8;
	color: #7b7b7b;
	
}
.section-4{
	background-color: #ffffff;
	padding-top: 40px;
	padding-bottom: 45px;
}


}
 <div class="form-inline row">
      <div class="form-group col-sm-6">
        <input type="password" data-minlength="6" class="form-control" id="inputPassword" placeholder="Password" required>
        <div class="help-block">Minimum of 6 characters</div>
 <label for="inputEmail" class="control-label">Email</label>
    <input type="email" class="form-control" id="inputEmail" placeholder="Email" data-error="Bruh, that email address is invalid" required>
    <div class="help-block with-errors"></div>