*{
	padding: 0px;
	margin: 0px;
}
body{
	font-size: 18px;
	font-family: Arial;
	font-weight: 1.5;
	line-height: 1.5;
	background-color: #f4f6f8;
}
.container{
	width: 1400px;
	margin: 0 auto;
}
.space{
	width: 500px;
	height: 50px;
	text-align: center;
}
.dang-ky{
	background: linear-gradient(to right,#3d45a5,#2c8bca);
	color: white;
}
.section-1{
	background-color: #f4f6f8;
}
.section-2{
	background-color: #f4f6f8;
}
.section-3{
	background-color: #f4f6f8;
}
.section-4{
	background-color: #f4f6f8;
}