	p{
		text-align: center;
	}
	a{	
		font-family: Arial;
		color:#34404b;
		font-size: 18px;
		text-decoration: none;
		line-height: 2.0;
	}
	span{
		line-height: 1.5;
		font-family: Arial;
		color:#ff5912;
		font-size: 18px;
	}
	body{
		background-color: #f4f6f8;
	}
	section{
		width: 900px;
		margin-left: 500px;
	}
	div{
		width: 270px;
		height: 367px;
		text-align: center;
		background-color: white;
		margin: 23px 15px;
		float:left;
		margin-top: 10px;
	}