* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #f4f6f8;
	color: #414850;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.5;
	font-family: 'Roboto', sans-serif;
}

/*a:hover {
	color:orange;

}*/
a {
	text-decoration: none;

}

span {
	font-color: #ff5912 ;
}

.section{
	float: left;
	width: 100%;

	
}
.container{
	width: 1170px;
	margin:0 auto;

	
}
.section_h1{
	background-color: white;
	padding-bottom: 20px;
	
}

.section_h1_1 {
	float: left;
	width:28%;
}
.section_h1_2 {
	float: right;
	text-align: right;
}	

.section_h2 {
	line-height: 100px;
	background-color: white;
	border-top: 2px solid #f4f6f8;

}
.section_h2_1 {
	float:left;
	width: 15%;
}

.section_h2_2 {
	float: left;
	width: 60%;	
}

.section_h2_2 li {
	list-style: none;
	list-style-type: none;
	margin-right: 40px;
	float: left;
	
}

.section_h2_3 {
	float: right;
}
/*.block-content input {
	display: none;
}
.block-content li {
	float: left;
	width: 100%;
	margin-bottom: 10px;
}

.block-content label:before {
	content: "";
	background-color: #edf0f2;
	float: left;
	border: 3px solid blue;
	
}

.block-content input:checked + label{
	color: red;
	float: left;
}

.block-content input:checked + label:before {
	background-color: #fff;
	border: 3px solid red;
	float: left;
}*/
.section_h3{
	background-color: #fff;
	border-top: 2px solid #f4f6f8;
}
.section_h31{
	width: 80%;
	margin: 100px auto;
}
.section_h3_1{
	float: left;
	width: 40%;

}
.section_h3_2{
	float: right;
	width: 60%;
}
.info_1 h1{
	margin: 20px 0;
}
.info_1 b{
	margin: 20px 0;
}
.info_1 p{
	margin: 20px 0;
}
.info_2{
	width: 100%;
	border-top: 2px solid #f4f6f8;
	padding: 30px 0;
	line-height: 30px;
}
.info_2_1{
	float: left;
	width: calc(50% - 1px);
	border-right: 1px solid #f4f6f8;
}
.info_2_2{
	float: right;
}
.info_3{
	width: 100%;
}




.section_h4 {
	padding-left: 10px;
	padding-top: 50px;
	padding-bottom: 50px;
	float: left;
}

.section_h4_1 {
	width: 50%;
	float: left;
	padding-left: 10px;
	background-color: white;
	line-height: 120px;	
}	

.section_h4_1 a {
	color: #ff5912;
}

.section_h4_1  span {
	font-size: 20px;

}

.section_h4_2  {
	width: 30%;
	float: left;
	background-color: white;
	line-height: 120px;	
}

.section_h4_3 {
	float: left;
	background-color: white;
	text-align: center;
	padding-right: 111px;
	line-height: 120px;	
}

.khung {
	width: 100%;
	float: left;
	background-color: white;
	padding: 10px;

}

.section_h5 {
	background-color: white;
	font-size: 14px;
	padding-top: 50px;
	padding-bottom: 30px;
}


.about {
line-height: 20px;	
}
.section_h5_1 {
	width: 40%;
	float: left;
	
}

.section_h5_2 {
	width: 15%;
	float: left;
}

.section_h5_3 {
	width: 15%;
	float: left;
}

.section_h5_4 {
	width: 15%;
	float: left;
}

.section_h5_5 {
	width: 15%
	float: left;
}

.item-content:hover figure {
	display: none;
}

.box-pink {
	width: 15px;
	height: 15px;
	background-color: #e12e3f;
	border-radius: 100%;
	float: left;
	margin-right: 5px;
}

.box-2 {
	width: 15px;
	height: 15px;
	background-color: #34404b;
	border-radius: 100%;
	float: left;
	margin-right: 5px;
}

.box-3 {
	width: 15px;
	height: 15px;
	background-color: #3ab3ff;
	border-radius: 100%;
	float: left;
	margin-right: 5px;
}

.box-4 {
	width: 15px;
	height: 15px;
	background-color: #2fd967;
	border-radius: 100%;
	float: left;
	text-align: center;
	margin-right: 5px;
}

.choosecolor {
	padding-left: 100px;
	padding-top: 40px;
}