*{
	margin:0;
	padding: 0;
}
body{
	background-color: #f4f6f8;
	color: #28313b;
	font-size: 14px;
	line-height: 1.5;
	font-family: 'Open Sans', sans-serif;
}
a{
	text-decoration: none;
	color: #28313b;
}
li{
	list-style: none;
}
.section{
	float:left;
	width: 100%;
}
.container{
	width: 1170px;
	margin: 0 auto;
}
.section_1{
	border-bottom: 1px solid #f4f6f8;
	background-color: white;
	width: 100%;
}
.section_1_1{
	border-bottom: 2px solid #f4f6f8;
	background-color: white;
	line-height: 60px;
}
.section_1_1_trai{
	float:left;
}
.section_1_1_trai img{
	margin-right: 5px;
}
.mai-top{
	float: left;
	margin-right: 30px;
}
.phone-top{
float:left;
}
.section_1_2{
	float:right;
}
.section_1_2 img{
	margin-left: 20px;
}
.section_2{
	border-bottom: 1px solid #f4f6f8;
	background-color: #fff;
	line-height: 100px;
}
.section_2_1{
	width:15%;
	float:left;
	margin-right: 100px;
}
.section_2_2{
	float:left;
	width: 50%;
	
}
.section_2_2 ul{
	list-style-type: none;
}
.section_2_2 li{
	float: left;
	padding-right: 25px; 
}
.section_2_2 a{
	font-size: 16px;
	color:#34404b;
}
.section_2_2 a:hover{
	color:#ff5912;
}
.section_2_3{
	float:right;
	text-align: right;
	width: 15%;
}
.gio_hang{
	float:right;
}
.trai_dat{
	float:right;
	margin-right: 13px;
}
.tim_kiem{
	float:right;
	margin-right: 30px;
}
.section_3{
	margin-top: 100px;
}
.left{
	float: left;
	width: calc(25% - 15px);
	margin-top: 15px;
}

.right{
	float: right;
	width: calc(75% - 15px);
}
.list{
	margin-left:-15px;
	margin-right: -15px;
}
.item{
	width: calc(100% / 3 - 30px);
	float: left;
	padding:15px;
}
.item-content{
	float:left;
	width: calc(100% - 2px);
	text-align: center;
	/* dashed dotted */
	/*background: green;*/
	background-color: white;
	height: 347px;
	padding-top: 30px;
	font-size: 18px;
	line-height: 40px;
	display: block;
}
.item-content span{
	color: #ff5912;
	line-height: 20px;
}
.item-content:hover figure{
	display: none;
}
.item-content:hover .fighover{
	display: block;
}
.fighover{
	display: none;
	margin-top: 40px;
	line-height: 40px;
}
#name_product a{
	color: #ff5912;
}
.box-pink{
	width: 15px;
	height: 15px;
	background-color: pink;
	border-radius: 100%;
	display: inline-block;
}
.box-black{
	width: 15px;
	height: 15px;
	background-color: black;
	border-radius: 100%;
	display: inline-block;
}
.box-green{
	width: 15px;
	height: 15px;
	background-color: green;
	border-radius: 100%;
	display: inline-block;
}
.box-blue{
	width: 15px;
	height: 15px;
	background-color: blue;
	border-radius: 100%;
	display: inline-block;
}
.box_anh{
	text-align: center;
}
.box_anh img{
	margin-right: 20px;
}
.block{
	background-color: #fff;
	margin-bottom: 30px;
}
.block h3{
	padding: 30px 0 30px 40px;
	color: #ff5912;
}
.block li{
	padding: 0 0 30px 40px;
}
.block-sizes input{
	display: none;
}
.block-sizes li{
	margin-bottom: 15px;
}
.block-sizes input{
	margin-top: 10px;
}
.block-sizes span{
	margin-left: 15px;
}
.block-sizes label:before{
	content: "";
	width: 11px;
	height: 11px;
 	background-color: #f4f6f8;
	border: 4px solid #f4f6f8;
	float: left;
}

.block-sizes input:checked + label{
	color: red;
}
.block-sizes input:checked + label:before{
	background-color: #fff;
	border: 4px solid #ff5912;
}
.ba_cham{
	width: 100%;
	text-align: center;
	font-size: 30px;
	font-weight: 800;
	color: #ff5912;
	background-color: #fff;
	margin: 30px 0;
	padding-bottom: 10px;
	float: left;
}
.section_4{
	margin-top: 100px;
}
.section_4_content{
	background-color: #fff;
	width: 100%;
	float: left;
	line-height: 120px;
}
.section_4_1{
	width: 40%;
	float: left;
	margin-left: 40px;
}
.section_4_1 span{
	padding-left: 10px;
}
.section_4_2{
	width: 20%;
	float: left;
	padding-left: 15%;
}
.section_4_2 img{
	padding-right: 10px;
}
.section_4_3{
	float: right;
	margin-right: 40px;
}
button{
    background-color: #ff5912;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}
.section_5{
	width: 100%;
	background-color: white;
	margin-top: 100px;
	padding: 80px 0;
}
.section_5_content{
	line-height: 40px;
}
.logo-footer{
	width: 30%;
	float:left;
}
.logo-footer span{
	float:left;
	padding-top: -20px;
}
.mark{
	width: 50%;
	float: left;
}
.mark li a:hover{
	color:#ff5912;
}
.mark li{
	margin-bottom: 30px; 
	list-style: disc;
}
.mark li:hover{
	color: #ff5912;
}
.mark_1{
	float:left;
	width: 30%;
}
.mark_2{
	float:left;
	width: 40%;
}
.mark_3{
	float:left;
	width: 30%;
}

.payment{
	width: 20%;
    float: left;
}
.payment span{
	color: #ff5912;
	float:left;
}
.payment img{
	margin-top: 40px;
	float: left;
}

