*{
	margin: 0;
	padding: 0;
}
body{
	background: #f4f6f8;
	color: #28313b;
	font-size: 14px;
	font-weight: 400;
	font-family: 
	line-height: 1.25;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
.section{
	float: left;
	width: 100%;
}
.container{
	width: 1170px;
	margin: 0 auto;
}

.section_1{
	background: #ffffff;
	border-bottom: 1px solid #f4f6f8;
}
.container_1{
	color: #34404b;
	height: 60px;
	line-height: 60px;
}
.section1_left{
	width: 50%;
	float: left;
}
.section1_right{
	width: 50%;
	float: right;
	text-align: right;
}
.container_1 li{
	display: inline-block;
}
.section1_left a{
	padding-right: 10px;
}
.section1_right a{
	padding-left: 20px;
}

.section_2{
	background: #ffffff;
}
.section2_left{
	width: 20%;
	float: left;
	padding-top: 42px;
	padding-bottom: 42px;
}
.section2_center{
	width: 55%;
	float: left;
	padding-top: 56px;
	padding-bottom: 55px;
}
.section2_right{
	width: 25%;
	float: right;
	text-align: right;
	padding-top: 30px;
	padding-bottom: 56px;
}
.section_2 li{
	display: inline-block;
}
.section2_center a{
	padding: 0 20px;
}
.section2_right a{
	padding-left: 35px;
}


.container_3-content{
	width: calc(100% - 362px);
	padding-top: 60px;
	padding-bottom: 120px;
	margin: 0 auto;
}
.sec3_top{
	width: 100%;
	float: left;
}
.sec3_midd{
	width: 100%;
	float: left;
}
.sec3_bot{
	width: 100%;
	float: left;
}
.sec3_top div{
	text-align: center;
}
.sec3_midd li{
	width: 100%;
	padding: 20px 0;
	float: left;
}
.sec3_midd p{
	color: #7b7b7b;
	font-size: 45px;
}
.sec3_midd input{
	display: none;
}
.sec3_midd label:before{
	content: "";
	width: 100%;
	height: 95px;
	background-color: #ffffff;
	float: left;
	border:1px solid #929292;
	border-radius: 10px;
}
.sec3_bot li{
	width: 100%;
	padding: 20px 0;
}
.sec3_bot-dk label{
	font-size: 35px;
	color: #7b7b7b;
}
.regis{
	font-size: 45px;
	text-align: center;
}
.back{
	font-size: 42.5px;
	color: #334b91;
	text-align: center;
}
.sec3_bot-dk input{
	display: none;
}
.sec3_bot-dk label:before{
	content: "";
	width: 25px;
	height: 25px;
	background-color: #ffffff;
	border-style: double;
	border-width: 5px;
	border-color: #929292;
	border-radius: 100%;
	float: left;
	margin-right: 10px;
}
.sec3_bot-dk input:checked + label:before{
	background-color: #175fac;
}

.section_4{
	background: #ffffff;
}
.section4_1{
	float: left;
	width: 25%;
	padding: 90px 0px;
}
.section4_2{
	float: left;
	width: 55%;
	padding: 90px 0px;
}
.section4_3{
	float: right;
	width: 20%;
	text-align: right;
	padding: 98px 0px;
}
.section4_1 img{
	padding-bottom: 10px;
}

.sec4_2-div1{
	float: left;
	width: calc(100% / 3 - 20px);
	padding: 0px 10px;
}
.sec4_2-div2{
	float: left;
	width: calc(100% / 3 - 20px);
	padding: 0px 10px;
}
.sec4_2-div3{
	float: right;
	width: calc(100% / 3 - 20px);
	padding: 0px 10px;
}
.div1-content{
	width: calc(100 - 50px);
	padding: 0px 25px;
}
.div2-content{
	width: calc(100 - 50px);
	padding: 0px 25px;
}
.div3-content{
	width: calc(100 - 50px);
	padding: 0px 25px;
}
.section4_2 li{
	padding-bottom: 10px;
	list-style-type: disc;
}
.section4_2 li:hover a{
	color: #ff5912;
}
.section4_2 li:hover{
	color: #ff5912;
}
.section4_3 img{
	padding-top: 20px;
}
.sec4_3-text {
	color: #ff5912;
	font-weight: 600;
	padding-right: 54px; 
}
