

		p{
			text-align: center;
		}
		a{
			font-family:Arial;
			color:#191007;
			font-size: 18px;
			text-decoration: none;
			line-height:2.0;
		}
		span{
			line-height: 1.5;
			font-family: Arial;
			color:#ff5912;
			font-size:19px;
		}
		h2{
			text-align: center;

		}
		body{
			
		}
		.list{
			background-color: #EFFBFB;
			width: 1054px;
			float:left;
		}

		.iteam{
			width: 270px;
			height:367px;
			border:1px;
			background-color: #FFFFFF;
			margin:30px;
			padding: 0px;
			float: left;
		}
