*{
	margin:0;
	padding:0;
}
body{
	background-color: #f4f6f8;
	font-size:14px;
	font-weight: 400;
	color:#28313b;
	line-height: 1.5;
	font-family: 'Roboto', sans-serif;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
.container{
	width: 12500px;
	margin: 0 auto;
}
.section{
	float:left;
	width:100%;
	background-color: white;
}
.section_1{
	border-bottom: 1px solid; 
}
.section_1_1{
	float:left;
	width:50%;
}
.section_1_2{
	float:right;
	width:50%;
}
.container{
	width: 1170px;
	margin: 0 auto;
}
.contact{
	float: left;
	margin-right: 10px;
}
.social{
	float:right;
	margin-left:20px;
}
.contact_1{
	margin-right: 10px;
	float:left;
	color:#34404b;
	font-size: 12px;
}
.section_2{
	float:left;
}
.section_2_1{
	width: 20%;
}
.section_2_2{
	width: 40%;
}
.menu{
	font-size: 16px;
	color:#34404b;
	float: left;
	margin-right: 20px;
}
.section_2_3{
	width:30%;
}
.cart{
	float: right;
	margin-right: 25px;
}
.section_3{
	padding-top: 40px;
	background-color: #f4f6f8;
	width: 100%;
}
.categories{
	background-color: white;
	width: 20%;
	margin-bottom: 25px;
}
.choice{
	font-size: 16px;
	color: #34404b;
	text-align: left;
	padding-top: 20px;
	padding-bottom: 20px;
}
.column{
	float: left;
}
#box{
	padding: 0px 76px 0px 80px;
	width: 80%;
	float:left;
}
#product{
	margin: 14px 15px 14px 15px;
	background-color:white;
	float:left;
}