body{
	background-color: #f4f6f8;
	font-weight: 400;
	line-height: 1.5;
	font-size: 14px;
	color:#28313b;
	margin:0;
}

.container{
	width: 1170px;
	margin: 0 auto;
}
.section{

	width: 100%;
	float: left;
}
.section_1{
	background-color: white;
}
.section_1_1{
	float: left;
	width: 50%;
}
.mail{
	float: left;
	margin-right: 10px;
}
.phone{
	float: left;
	margin-right: 10px;
}
.contact{
	float: left;
	margin-right: 10px;
}
.section_1_2{
	float: right;
	width: 50%;
}
.social{
	float: right;
	margin-left: 20px;
}
.section_2{
	width: 100%;
	padding-top: 30px;
	background-color: white;
	border-top:1px solid #f4f6f8;;
}
.section_2_1{
	width: 15%;
	float: left;
}
li:hover{
	color:#ff5912;
}
.section_2_2{
	width: 50%;
	float: left;
}
.section_2_3{
	width: 25%;
	float: right;
}
.cart{
	float: right;
	margin-left: 20px;
}
.menu{
	float: left;
	list-style: none;
	margin-right: 20px;
	font-weight: 800;
	font-size: 16px;
}
.section_3{
	width: 100%;
	margin-top: 15px;
}
.container2{
	width: 450px;
	margin: 0 auto;
}
input{
	width: 100%;
	margin-bottom: 30px;
}
.submit{
	width: 45%
	padding:11% 5%;
	background-color: #3075bf;
	font-size: 22px;
	margin-top:35px;
	border-radius: 15px;
}
.agree{
	font-size: 17px;
	margin-bottom: 0;
	color:#7b7b7b;
}
.container3{
	width: 270px;
	margin: 0 auto;
}
.info{
	margin-bottom: 5px;
	font-size: 22px;
	color:#7b7b7b;
}
.container4{
	width: 250px;
	margin:0 auto;
}
.back-login{
	font-size: 21px;
	text-decoration: none;
}
.back-login:hover{
	color:#334b91;
}
table{
	width:100%;
}
.section_4{
	width: 100%;
	background-color: white;
	padding:40px 0 20px 0;
	margin-top: 40px;
}
.payment{
	font-size: 16px;
	color:#ff5912;
}