*{
	text-decoration: none;
	color:;
}
li{
	list-style-type: : none;
}
.section{
	width: 100%;
}
.section_3{
	background-color: #f4f6f8;
}
.section3b{
	background-image: linear-gradient(to right, #4147a7 , #64aad7);
}