*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #f4f6f8;
	color: #34404b;
	font-size: 14px;
	font-weight: 400;
	line-height: 2;
	font-family: 'PT Sans', sans-serif;
}
h3{
	color: #ff5912;
}
a{
	color: #34404b;
	text-decoration: none;
}
a:hover{
	color: #ff5912;
}
ul{
	list-style-position: inside;
}
section{
	float: left;
	width: 100%;
}
.container{
	width: 1170px;
	margin: 0 auto;
}
.head{
	background-color: white;
	margin-bottom: 2px;
	padding: 25px 0;
}
.email{
	width: 13%;
	float: left;
}
.phone{
	width: 13%; 
	float:left;
}
.social{
	float: right;
}
.subhead{
	background-color: white;
	margin-bottom: 118px;
	padding: 25px 0;
}
.logo{
	width: 15%;
	float: left;
}
.menu{
	width: 40%;
	float:left;
	padding: 10px 0;
	word-spacing: 43px;
}
.submenu{
	float: right;
	word-spacing: 30px;
}
.body1{
	width: 25%;
	float: left;
}
.categories{
	margin: 0 15px 30px 0;
	padding: 40px;	
	background-color: white;
}
.li_categories{
	list-style-type: none;
}
.pricefilter{
	margin: 0 15px 30px 0;
	padding: 40px;
	background-color: white;
}
.filter{
	-webkit-appearance: none;
	appearance:none;
	width: 100%;
}
.sizes{
	margin: 0 15px 30px 0;
	padding: 40px;
	background-color: white;
}
.brands{
	margin: 0 15px 0 0;
	padding: 40px;
	background-color: white;
}
li{
	list-style-type: square;
}
.body2{
	width: 75%;
	float: right;
}
.list{
	margin-right: -15px;
}
.items{
	width: calc(100% / 3 - 30px);
	float: left;
	padding: 0 15px 30px 15px;
}
.item_content{
	background-color: white;
	float: left;
	width: calc(100% - 2px);
	text-align: center;
	height: 347px;
	padding: 30px 0 0 0;
	line-height: 45px;
}
.gia{
	color: #ff5912;
}
.more{
	float: left;
	width: calc(100% - 30px);
	text-align: center;
	background-color: white;
	padding: 15px 0; 
	margin-bottom: 120px;
	margin-left: 15px;
}
.subfoot{
	margin-bottom: 120px;
}
.newletter{
	color: #ff5912;
	font-weight: bolder;
	width: 10%;
	background-color: white;
	padding: 45px 0 45px 60px;
	float: left;
}
.newletter1{
	width: 40%;
	background-color: white;
	padding: 45px 0;
	float: left;
	font-style: italic;
}
.typemail{
	width: 30%;
	background-color: white;
	padding: 45px 0;
	float: left;
	
}
.input_typemail{
	font-style: italic;
	color: #7c8791;
	border: none;
}
.joinus{
	width: 10%;
	background-color: white;
	padding: 35px 45px 35px 12px;
	float: right;
}
.input_joinus{
	color: white;
	background-color: #ff5912;
	border: none;
	padding: 16px 25px;
	cursor: pointer; 
}
.foot{
	background-color: white;
	padding: 40px 0;
}
.logo_foot{
	width: 30%;
	float: left;
}
.footlist{
	width: 55%;
	float: left;
}
.footlist1{
	width: 33%;
	float: left;
}
.footlist2{
	width: 33%;
	float: left;
}
.footlist3{
	width: auto;
	float: left;
}
.li_foot{
	list-style-type: circle;
}
.payment{
	width: auto;
}
