div#v{
	width: 1540px;
	height: 2163px;
	background-color: #f4f6f8;
}
div.a{
	width: 1540px;
	height: 60px;
	background-color: white;
	margin-bottom: 2px;
	word-spacing: 4px;
}
div.b{
	width: 1540px;
	height: 122px;
	background-color: white;
	text-indent: 80px;
	word-spacing: 40px;
}
div.c{
	width: 270px;
	margin: 103px 20px 0 170px;
	float: left;
}
div.d{
	width: 900px;
	margin: 118px 0 0 0;
	float: left;
}
div.e{
	background-color: white;
	margin-left: 475px;
	float: left;
	width: 870px;
}
div.f{
	background-color: white;
	width: 1170px;
	height: 123px;
	margin: 1486px 0 0 170px;
}
div.g{
	width: 1540px;
	height: 250px;
	background-color: white;
	margin-top: 122px;
	float: left;
}
span.a{
	float: left;
	font-size: 12px;
	margin: 15px 20px 0 0;
}
span.a1{
	float: left;
	font-size: 12px;
	margin: 15px 864px 0 0;
}
img.a{
	float: left;
	margin: 21px 10px 0 170px;
}
img.a1{
	float: left;
	margin: 21px 10px 0 0;
}
img.a2{
	float: left;
	margin: 23px 15px 0 0;
}
img.b{
	float: left;
	margin: 45px 0 0 170px;
}
img.b1{
	margin: 50px 0 0 328px;
}
p{
	text-align: center;
	font-weight: bolder;
}
a{
	text-decoration-line: none;
	font-size: 18px;
	color: #34404b;
	font-family: Calibri;
	line-height: 2;
}
a:hover{
	color: #ff5912;
}
span{
	font-size: 18px;
	font-family: Calibri;
	line-height: 2;
}
span.e{
	font-weight: bold;
}
h3{
	font-size: 18px;
	font-weight: bold;
	color: #ff5912;
}
ul{
	padding-top: 25px;
	padding-bottom: 30px;
	list-style-type: none;
	background-color: white;
	margin-bottom: 38px;
	font-family: Calibri;
}
ul.c{
	list-style-type: square;
	list-style-position: inside;
}
li{
	font-size: 16px;
	line-height: 3;
	text-align: left;
	color: black;
}
div.d1{
	width: 270px;
	height: 368px;
	margin: 0 15px 28px 15px;
	padding: 10px 0 0 0;
	float: left; 
	background-color: white;
}
span.gia{
	color: #ff5912;
}
span.f1{
	float: left;
	font-size: 18px;
	font-weight: bold;
	color: #ff5912;
	margin: 43px 25px 43px 43px;
}
span.f2{
	float: left;
	font-size: 14px;
	font-style: italic;
	margin: 46px 257px 46px 0;
}
span.f3{
	float: left;
	font-size: 14px;
	font-style: italic;
	color: #7c8791;
	margin: 46px 0px 46px 0;
}
span.f4{
	float: left;
	font-size: 14px;
	background-color: #ff5912;
	color: white;
	text-align: center;
	padding: 10px 25px;
	margin: 36px 0 36px 170px;
}
img.f{
	float:left;
	margin: 10px 10px 10px 0;
}
img.g{
	float:left;
	margin: 100px 280px 0 200px; 
}
span.g{
	text-align: left;
}
ul.g1{
	font-size: 14px;
	list-style-type: circle;
	float: left;
	margin-top:40px;
}
ul.g2{
	font-size: 14px;
	list-style-type: circle;
	float: left;
	margin: 40px 0 0 115px;
}
ul.g3{
	font-size: 14px;
	list-style-type: circle;
	float: left;
	margin: 40px 0 0 75px;
}
span.g1{
	float: left;
	color: #ff5912;
	margin: 90px 0 10px 115px;
}
img.g1{
	float: left;
	margin-left: 115px;
}