body{
    margin: 0;
    padding: 0;
    background-color: #f4f6f8;
    font-family: Arial;
    color: #34404b;
}
a{
    text-decoration: none;
}
#header{
    width: 100%;
    background-color: #ffffff;
    margin-bottom: 105px;
}

#header-top{
    width: 100%;    /*1540px*/
    border-bottom: 2px solid #f4f6f8;
    line-height: 60px;
    font-size: 12px;
}
#content-header-top{
    width: 77%;     /*1170px*/
    height: 60px;
    margin: auto;
}
#header-top-left{
    float: left;
}
#header-top-left img{
    margin-right: 5px;
}
#mail-top{
    float: left;
    margin-right: 30px;
}
#phone-top{
    float: left;
}
#header-top-right{
    float: right;
}
#header-top-right img{
    margin-left: 20px;
}
#header-bottom{
    width: 100%;
}
#content-header-bottom{
    width: 77%;     /*1170px*/
    height: 120px;
    margin: auto;
}
#logo-header{
    float: left;
    margin: 40px 45px 0px 0px;
}
#list-home{
    float: left;
    margin-top: 30px;
}
#list-home ul{
    list-style-type: none;
}
#list-home li{
    float: left;
    margin-right: 40px;
}
#list-home a{
    font-size: 16px;
    color: #34404b;
}
#list-home a:hover{
    color: #ff5912;
}
#search-user-cart{
    float: right;
    line-height: 120px;
}
#cart{
    float: right;
}
#cart span{
    font-size: 12px;
    color: #ffffff;
    position: relative;
    left: 20px;
    bottom: 23px;
}
#user{
    float: right;
    margin-right: 13px;
}
#search{
    float: right;
    margin-right: 30px;
}

#body{
    width: 1200px;
    margin: auto;
}
#categories{
    width: 300px;
    float: left;
}
.categori{
    width: 270px;
    margin: 15px 15px 30px 15px;
    padding: 10px 0 10px 0;
    background-color: #ffffff;
    line-height: 50px;
}
.categori strong{
    font-size: 18px;
    color: #ff5912;
}
.categori ul{
    list-style-type: none;
}
.categori b{
    font-size: 16px;
}
/*Price Filtter*/
.range-filter {
    width:190px;
    margin-top: 10px;
}
.range-controls {
    position:relative;
    height:80px;
    overflow:hidden;
}
.range-controls p{
    position: relative;
    bottom: 60px;
    right: 15px;
}
.scale {
    margin-top:39px;
    height:4px;
    background: #f4f6f8;
}
.bar{
    height:4px;
    background: #34404b;
}
.toggle {
    position:absolute;
    top:30px;
    left:30px;
    width:4px;
    height:4px;
    border:8px solid #34404b;
    background:#ababab;
    cursor:pointer;
    border-radius:50%;
}
.min-toggle {
    left: 20px;
}
.max-toggle {
    left:120px;
}
.price-controls input{
    width:45px;
    margin-left: 5px;
    border:none;
    background:#edf0f2;
    font-size:16px;
    font-family:"Tahoma", sans-serif;
    text-align:center;
    color:#283136;
}

.min-price {
    margin-right:14px;
}
/*End Filtter*/
.form-categori form{
    margin: 15px 0 10px 40px;
}
.form-categori input:checked:after{
    border-color: #ff5912;
}
#list_product{
    width: 900px;
    float: left;
}

#name_product{
    color: #34404b;
}
#price{
    color: #ff5912;
}
.product{
    width: 270px;
    margin: 15px;
    height: 355px;
    padding-top: 12px;
    background-color: #ffffff;
    text-align: center;
    float: left;
}
.product p{
    font-size: 18px;
    line-height: 1.5;
}
#them{
    width: 870px;
    height: 60px;
    margin: 15px;
    background-color: #ffffff;
    text-align: center;
    line-height: 60px;
    float: left;
}
#body-bottom{
    width: 1170px;
    height: 120px;
    line-height: 120px;
    background-color: #ffffff;
    float: left;
    margin: 105px 15px 15px 15px;
    font-size: 14px;
}
#title-body-bottom{
    float: left;
    margin: 0px 30px 0px 50px;
}
#text-body-bottom{
    float: left;
    color: #344048;
}
#mail{
    float: right;
    color: #7c8791;
}
#mail img{
    margin: 0px 10px;
}
#submit{
    float: right;
    margin: 0px 40px 0px 160px;
}
button{
    background-color: #ff5912;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}
#info{
    width: 100%;
    background-color: #ffffff;
    margin: 110px 0 0 0;
    display: inline-block;
}
#content-info{
    width: 1170px;
    height: 250px;
    margin: auto;
}
#logo-info{
    float: left;
    margin: 90px 160px 0px 0px;
    font-size: 14px;
}
.text-info{
    float: left;
    font-size: 14px;
    line-height: 19px;
}
.text-info a{
    color: black;
}
.text-info a:hover{
    color: #ff5912;
}
#text-info-1{
    margin: 70px 90px 0px 0px;
}
#text-info-2{
    margin: 70px 35px 0px 0px;
}
#text-info-3{
    margin: 70px 0px 0px 0px;
}
#payment{
    float: right;
    margin: 100px 0px 0px 0px;
    color: #ff5912;
}
#payment img{
    margin-top: 20px;
}